@using ViewModels;
@using EmployeeManagement;
@model List<EmployeeDetailVM>
<!DOCTYPE html>
<html>
<head>
    <title>Employee List</title>
</head>
<body>
    <h2>Employee List</h2>

   @if (Model != null && Model.Any())
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Employmnet ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Salary</th>
                <th>Experience</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td id="empId">@employee.Id</td>
                    <td id="empName">@employee.Name</td>
                    <td id="empDesignation">@employee.Designation</td>
                    <td id="empSalary">@employee.Salary</td>
                    <td id="empExperience">@employee.Experience</td>
                    <td>
                        <button class="btn btn-danger" id="deleteBtn" onclick="DeleteEmployeeRecord(@employee.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No employees found.</p>
}
</body>
</html>

@section Scripts{
<script src="~/js/Employee/Emp.js"></script>
}